.root {
    -fx-background-color: linear-gradient(to bottom right, #e0f7fa, #80deea);
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-text-fill: #006064;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #00838f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-margin: 50px;
}
.button:hover {
    -fx-background-color: #0097a7;
    -fx-cursor: hand;
}
